*{
    box-sizing: border-box;
    margin: 0;
}
body{
    width: 1024px;
    height: 768px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.top,.menu,.update,.marquee,.content,.footer{
    border: 1px solid lightgray;
}
.top{
    width: 1000px;
    height: 65px;
}
.aside{
    display: flex;
    flex-direction: column;
    width: 215px;
    height: calc(768px - 65px - 20px);
}
.menu{
    flex-basis: calc(100% - 25px);
    display: flex;
    flex-direction: column;
}
.m1{
    font-family: '標楷體';
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: black;
    color: #ff00ff;
    margin: 10px;
    text-align: center;
}
.m2{
    font-family: '標楷體';
    font-size: 16px;
    font-weight: 500;
    width: 200px;
    padding: 8px;
    color: #000000;
    margin: 5px;
    text-align: center;
    background-image: url(./material/menu1.png);
}
.m2:hover{
    background-image: url(./material/menu2.png);
}
.update{
    flex-basis: 25px;
    font-family: '標楷體';
    font-size: 16px;
    color: #000000;
    text-align: center;
}
.section{
    width: calc(1000px - 215px);
    display: flex;
    flex-direction: column;
}
.marquee{
    flex-basis: 29px;
    font-family: '標楷體';
    font-size: 24px;
    color: #0000ff;
    overflow: hidden;
}
.content{
    flex-basis: calc(100% - 29px);
}
iframe{
    width: 100%;
    height: 100%;
}
.footer{
    width: 1000px;
    height: 20px;
    font-size: 16px;
    font-family: '標楷體';
    color: #000000;
    text-align: center;
}